

<div class='container'>
<h1 style="text-align:center">Calendário</h1>

<%= link_to 'New Event', new_calendar_path,:class => 'btn btn-primary' %>
<%= link_to 'New buz', new_buz_path,:class => 'btn btn-danger' %>
<%= link_to 'edit buz', edit_buz_path(1),:class => 'btn btn-info' %>
<hr>
<div class= "calendar" ></div>
</div>
